# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath
bin/

# OS
.DS_Store
Thumbs.db

# Local environment
.env
application-local.properties
